# Servidor
PORT=3333
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

# Conexão com Banco de Dados PostgreSQL
# Formato padrão de URL de conexão (Prisma, Drizzle, TypeORM, pg)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/achei_db?schema=public"

# Parâmetros individuais de conexão
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=achei_db
DB_SSL=false
